<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cinema World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/tema/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/tema/js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="~/tema/js/cufon-yui.js" type="text/javascript"></script>
    <script src="~/tema/js/cufon-replace.js" type="text/javascript"></script>
    <script src="~/tema/js/Gill_Sans_400.font.js" type="text/javascript"></script>
    <script src="~/tema/js/script.js" type="text/javascript"></script>
    <!--[if lt IE 7]>
    <script type="text/javascript" src="js/ie_png.js"></script>
    <script type="text/javascript">ie_png.fix('.png, .link1 span, .link1');</script>
    <link href="css/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body id="page1">
    <!-- START PAGE SOURCE -->
    <div class="tail-top">
        <div class="tail-bottom">
            <div id="main">
                <div id="header">
                    <div class="row-1">
                        <div class="fleft"><a href="#">Cinema <span>World</span></a></div>
                        <ul>
                            <li><a href="#"><img src="~/tema/images/icon1-act.gif" alt="" /></a></li>
                            <li><a href="#"><img src="~/tema/images/icon2.gif" alt="" /></a></li>
                            <li><a href="#"><img src="~/tema/images/icon3.gif" alt="" /></a></li>
                        </ul>
                    </div>
                    <div class="row-2">
                        <ul>
                            <li><a href="@Url.Action("Index","Film")" class="active">Film</a></li>
                            <li><a href="@Url.Action("Index","Oyuncu")">Oyuncu</a></li>
                            <li><a href="@Url.Action("Index","Seyirci")">Seyirci</a></li>
                            <li><a href="@Url.Action("Index","Yonetmen")">Yönetmen</a></li>
                            <li class="last"><a href="sitemap.html">İletisim</a></li>
                        </ul>
                    </div>
                </div>
                <div id="content">
                    <div id="slogan">
                        <div class="image png"></div>
                        <div class="inside">
                            @*<h2>Filmler<span></span></h2>
                            <p>Korkutucu, komik, dramatik, romantik ne türde olursa olsun etkileyici bir film kadar duygularımızı harekete geçiren başka bir şey yok. Herkese hitap eden geniş bir film arşivi sizi bekliyor.</p>
                            <div class="wrapper"><a href="#" class="link1"><span><span></span></span></a></div>*@
                        </div>
                    </div>
                    <div class="box">
                        <div class="border-right">
                            <div class="border-left">
                                <div class="inner">
                                    <h3>Cinema World <b></b> <span></span></h3>
                                    <p>
                                        Cinema World; Disney, Pixar, Marvel, Star Wars, National Geographic ve çok daha fazlasına ait içeriklerin yer aldığı dijital yayın platformudur.
                                    </p>

                                    <p>Cinema World, standart üyelik paketi kapsamında birçok ayrıcalık sunar:</p>

                                    <p>-Başka hiçbir yerde izleyemeyeceğin orijinal içerikler, gişe filmleri, bir solukta izlenebilecek diziler ve programlar, atıştırmalık kısa içerikler ve ilham verici belgeseller</p>

                                    <p>-10 cihaza ve 7 ayrı profile kadar sınırsız indirme imkanı</p>

                                    <p>-Uyumlu cihazlarda hiçbir ek ücret ödemeden 4K UHD çözünürlükte Dolby Vision ve Dolby Atmos desteğiyle izleme imkanı</p>

                                    <p>-Özel çocuk profilleri içeren kapsamlı ebeveyn kontrol sistemi</p>

                                    <p>-Aynı anda 4 ekranda izleme imkanı</p>

                                    <p>-GroupWatch özelliğiyle altı arkadaşınla sanal izleme partileri düzenleme imkanı.</p>
                                    </p>
                                    @*<div class="img-box1"><img src="~/tema/images/1.jpg" alt="" />*@
                                </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Yeni Çıkan<span>Filmler</span></h3>
                        <ul class="movies">
                            <li>
                            <h4> Silver Linings Playbook</h4>
                                <img src="~/tema/images/a.jpg" alt="" />
                            <p>
                                Eski bir tarih öğretmeni olan Pat Salitano (Bradley Cooper), yaşamında değer verdiği her şeyi bir günde yitirmiş bir adamdır. yaşadığı ciddi bir travma sonrası patlar ve ardından mahkeme kararı ile 8 ay rehabilitasyon merkezinde tedavi görür. Çıktıktan sonra hayatını düzene koymak şartıyla ailesinin evine geri yerleşen Pat'in yegane amacı düzgün bir adam olup, işini geri almak ve karısı Vicky'yi bu sayede geri kazanmaktır.
                                Fakat durum Pat için sandığından daha zor olacaktır.
                            </p>
                                <div class="wrapper"><a href="#" class="link2"><span><span>İncele</span></span></a></div>
                            </li>
                            <li>
                            <h4> The Boy in the Striped Pyjamas</h4>
                                <img src="~/tema/images/123.jpg" alt="" />
                            <p>Nazi Almanya’sı Bruno’nun babasını görevli olarak Polonya’ya gönderir. Bruno, kasabadaki toplama kampının tel örgülerinin öbür yanındaki bir çocukla arkadaş olur. Ancak iki çocuk arasında gelişen bu dostluk, özellikle oğlunun bu kampla ilgili gerçeği öğreneceğinden kuşkulanan Alman annenin (Vera Farmiga) endişelerini artıracaktır. Bruno ve ailesinin yeni evleri birbuçuk milyon Yahudinin Nazilerce öldürüldüğü Auschwitz toplama ve yoketme kampının bitişiğindedir. </p>
                                <div class="wrapper"><a href="#" class="link2"><span><span>İncele</span></span></a></div>
                            </li>
                            <li class="last">
                                <h4> Friends</h4>
                                <img src="~/tema/images/f.jpg" alt="" />
                            <p>Friends, David Crane ve Marta Kauffman tarafından yaratılmış Amerikan yapımı sitcom türünde bir dizidir. 22 Eylül 1994 ile 6 Mayıs 2004 tarihleri arasında NBC'de yayınlanan dizi, on sezon sürdü.Kauffman ve Crane, Friends'in ilk tasarımlarını Insomnia Cafe adıyla 1993'ün Kasım-Aralık aylarında hazırladı. Fikri Bright'a gösterdiler ve üçü beraber yedi sayfalık taslağı NBC'ye sundu. İsmin Friends Like Us olarak değiştirilmesi gibi pek çok senaryo değişikliği ve yeniden yazımının ardından, dizinin adı sonunda Friends olarak belirlendi. </p>
                                <div class="wrapper"><a href="#" class="link2"><span><span>İncele</span></span></a></div>
                            </li>
                            <li class="clear">&nbsp;</li>
                        </ul>
                    </div>
                </div>
                <div id="footer">
                    <div class="left">
                        <div class="right">
                            <div class="footerlink">
                                <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
                                <p class="rf">Design by <a href="http://www.templatemonster.com/">TemplateMonster</a></p>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="~/tema/text/javascript">Cufon.now();</script>
    <!-- END PAGE SOURCE -->
</body>
</html>
